/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advertisement.css');
@import url('./about.css');
@import url('./our-courses.css');
@import url('./our-mentors.css');
@import url('./sing-up.css');
@import url('./reviews.css');
@import url('./footer.css');

:root {
  --main-color-white:#ffffff;
  --seconadary-color-brown: #BEA69E;
  --black-color: #121212;
  --grey-color: #1D1D1D;
}





